footer {
    background-color: #eee;
    padding: 20px;
    
  }
  
  .contacto {
    text-align: center;
    font-size: 1.2em;
  }
  
  .contacto p {
    margin: 10px 0;
  }
  
  .datos {
    margin-top: 10px;
  }
  
  .datos i {
    margin-right: 10px;
    color: #333;
  }
  
  .datos a {
    color: #333;
  }
  
  .datos a:hover {
    text-decoration: none;
    color: #0077c0;
  }
  