footer {
  background-color: #f2f2f2;
  padding: 20px;
  height: 70vw;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}

#titulofooter {
  color: #333;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h1 {
  color: #666;
  font-size: 26px;
  margin-bottom: 10px;
}

.botonesfooter {
  display: block;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 90vw;
  margin-bottom: 10px;
  margin-left: 30px;
  text-align: center;
}

#tituloContacto{
  text-align: left;
}
.divBotones{
  align-items: center;
}

.textobotonesfooter {
  border: none;
  font-size: 22px;
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
  cursor: pointer;
}

form {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

#h1Form {
  font-size: 24px;
  text-align: left;
  margin-bottom: 20px;
}

.pregunta {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}


.contacto {
  margin-top: 20px;
  text-align: center;
}

.datos {
  margin-top: 10px;
}

.fa-envelope {
  margin-right: 5px;
}

.mail{
  font-size: 25px;
}

