  
  header {
    background-color: white;
    font-family: 'Roboto Mono', monospace;
  }
  
  .HeaderTitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #Titulo{
    margin: 0;
    font-size: 65px;
    font-weight: bold;
    color: black;
  }
  

  

